@{
    ViewBag.Title = "Index";
}

<div style="margin: 5px 2%; display: table; width: 96%; background-color: #fff; height: 60px;">
   <div style="width: 100%;width: 60px; height: 60px;display: table-cell">
      <img src="../../Content/Images/SamplePhotos/Picture2.jpg" style="height: inherit">
   </div>
   <div style="display: table-cell;vertical-align:top">
      <h4 style="margin: 5px 0">Shanice Williams</h4>
      <!--<a href="#"><img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg"></a>-->
      <div style="font-size: 13px;">
         ear interest in nothingneer introspection.
      </div>
   </div>
   <div style="display: table-cell;vertical-align:top;width: 63px;font-size: 12px;
    padding: 2px;">
      24 Feb ’06
       <br>
      14:35
       <br><br>
       <img src="~/Content/Images/Icons/mail-black.png" />
   </div>
</div>


<div style="margin: 5px 2%; display: table; width: 96%; background-color: #fff; height: 60px;">
    <div style="width: 100%;width: 60px; height: 60px;display: table-cell">
        <img src="../../Content/Images/SamplePhotos/Picture2.jpg" style="height: inherit">
    </div>
    <div style="display: table-cell;vertical-align:top">
        <h4 style="margin: 5px 0">Shanice Williams</h4>
        <!--<a href="#"><img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg"></a>-->
        <div style="font-size: 13px;">
            ear interest in nothingneer introspection.
        </div>
    </div>
    <div style="display: table-cell;vertical-align:top;width: 63px;font-size: 12px;
    padding: 2px;">
        24 Feb ’06
        <br>
        14:35
        <br><br>
        <img src="~/Content/Images/Icons/mail-black.png" />
    </div>
</div>
<div style="margin: 5px 2%; display: table; width: 96%; background-color: #fff; height: 60px;">
    <div style="width: 100%;width: 60px; height: 60px;display: table-cell">
        <img src="../../Content/Images/SamplePhotos/Picture2.jpg" style="height: inherit">
    </div>
    <div style="display: table-cell;vertical-align:top">
        <h4 style="margin: 5px 0">Shanice Williams</h4>
        <!--<a href="#"><img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg"></a>-->
        <div style="font-size: 13px;">
            ear interest in nothingneer introspection.
        </div>
    </div>
    <div style="display: table-cell;vertical-align:top;width: 63px;font-size: 12px;
    padding: 2px;">
        24 Feb ’06
        <br>
        14:35
        <br><br>
        <img src="~/Content/Images/Icons/mail-black.png" />
    </div>
</div>
<div style="margin: 5px 2%; display: table; width: 96%; background-color: #fff; height: 60px;">
    <div style="width: 100%;width: 60px; height: 60px;display: table-cell">
        <img src="../../Content/Images/SamplePhotos/Picture2.jpg" style="height: inherit">
    </div>
    <div style="display: table-cell;vertical-align:top">
        <h4 style="margin: 5px 0">Shanice Williams</h4>
        <!--<a href="#"><img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg"></a>-->
        <div style="font-size: 13px;">
            ear interest in nothingneer introspection.
        </div>
    </div>
    <div style="display: table-cell;vertical-align:top;width: 63px;font-size: 12px;
    padding: 2px;">
        24 Feb ’06
        <br>
        14:35
        <br><br>
        <img src="~/Content/Images/Icons/mail-black.png" />
    </div>
</div>
<div style="margin: 5px 2%; display: table; width: 96%; background-color: #fff; height: 60px;">
    <div style="width: 100%;width: 60px; height: 60px;display: table-cell">
        <img src="../../Content/Images/SamplePhotos/Picture2.jpg" style="height: inherit">
    </div>
    <div style="display: table-cell;vertical-align:top">
        <h4 style="margin: 5px 0">Shanice Williams</h4>
        <!--<a href="#"><img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg"></a>-->
        <div style="font-size: 13px;">
            ear interest in nothingneer introspection.
        </div>
    </div>
    <div style="display: table-cell;vertical-align:top;width: 63px;font-size: 12px;
    padding: 2px;">
        24 Feb ’06
        <br>
        14:35
        <br><br>
        <img src="~/Content/Images/Icons/mail-black.png" />
    </div>
</div>
