@model Gryffindor.Web.Models.ForgotPassowrdTemplateViewModel
@{

}
<style>
    .defaultBackground {
        background-color: rgb(51, 63, 80);
        color: #fff;
    }
    .divSubHeading {
        background-color: rgb(51, 63, 80);
        color: #fff;
        display: inline-block;
        width: auto;
        padding: 2px 14px;
        font-size: 12px;
        margin: 5px 0 0 2px;
    }

    body {
        background:white;
    }
    .content {background:white}
</style>

<div style="padding:8px;" class="defaultBackground">Inception</div>

<div class="divSubHeading">Forgot Passowrd</div>
<hr/>

<p>
    Hi, @Model.Name
</p>

<p>
    You have requested a password reset. <a href="@Model.ResetUrl" style="text-decoration:underline;font-weight:bold">Please click here to change your password.</a>
</p>

<p>Alternatively, you can copy and paste this address to your browser: @Model.ResetUrl </p>
<br/>
<p style="font-size:12px;font-weight:bold">Please note: If you haven't requested this password reset, contact us at [SupportEmail] for further assisstance.</p>

<div style="padding:4px; text-align:center;font-size:11px" class="defaultBackground">@Model.SiteUrl</div>