<style>
    .resumeTemplateContainer {
        display:table;
        width:100%;
        height:250px;
        margin-top:10px;
    }
    .divBtnNav {
        display:table-cell;
        background-color: rgb(29, 36, 46);
        color:#f1f1f1;
        vertical-align:middle;
        width:50px;
        text-align:center;
        cursor:pointer;
        font-weight:normal;
    }
    .divBtnNav:hover {opacity:0.75;font-weight:bold}
    .divBtnNav:active {opacity:0.9}
    .imgResumeTemplate {
        height: 250px;
        position:absolute;
        top:0;
        left:0;    
    }
    .imgResumeContainer {
        position: relative;
        width:100%;
        margin: 0 auto;
        max-width:200px;
    }
    .cvTemplate {
        text-align:center;
        display:table-cell;
        width:auto;
    }
</style>

<div class="divSubHeading">Your current CV design</div>
<br>

<div class="resumeTemplateContainer">
    <div class="divBtnNav">
        <
    </div>

    <div class="cvTemplate">
        <div class="imgResumeContainer">
            <img src="~/Content/Images/ResumeTemplates/ResumeTemplate_0.JPG" class="imgResumeTemplate" templateItem="0" />
            <img src="~/Content/Images/ResumeTemplates/ResumeTemplate_0.JPG" class="imgResumeTemplate" templateItem="1" />
            <img src="~/Content/Images/ResumeTemplates/ResumeTemplate_0.JPG" class="imgResumeTemplate" templateItem="2" />
        </div>
    </div>

    <div class="divBtnNav">
        >
    </div>
</div>
