@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="divHeading">@ViewBag.Title</div>
<hr>

<div style="color:#f1f1f1">
<p>
    Please check your email to reset your password.
</p>

	
<a href="@Url.Action("Index","Home")">
    <img src="~/Content/Images/Icons/Inception/Home-52.png" class="icon defaultBackground menuIcon" />
    Back to Home
</a>
</div>