@{
    ViewBag.Title = "Reset password confirmation";
    Layout = User.Identity.IsAuthenticated? "~/Views/Shared/_Layout.cshtml" :  "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="divHeading">@ViewBag.Title</div>
<hr>

<div>
    <p style="color:#f1f1f1">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
