<div class="postContainer">
    <div class="postDetails">
        <div class="avatarContainer">
            <a href="#"><img alt="avatar" class="avatar" src="../../Content/Images/SamplePhotos/Picture2.jpg"></a>
        </div>
        <div class="detailsContainer">
            <a href="#"><div>Shanice Williams</div></a>
            <p>14-Apr-16 11:56</p>
        </div>
    </div>
    <div class="postText">
        <p>
            This is sample text and therefore reading this will prove rather futile.
            However, It is known that you bear interest in nothingness since you have
            made it this far along. You may read this again for further introspection.
        </p>
    </div>
    <div class="postActionsSummary">
        5 Likes, 10 intrested
    </div>
    <ul class="postActions">
        <li><a href="#">I am interested</a></li>
        <li><a href="#">Like</a></li>
    </ul>
</div>
