
<div class="postContainer sponsoredPostContainer">
    <div class="sponsoredPost">Sponsored Post</div>
    <div style="display: block;text-align:center">
        <img alt="comment" src="../../Content/Images/SamplePhotos/Picture1.jpg" style="width: 100%;">
    </div>
    <div class="postText">
        <p>
            This is sample text and therefore reading this will prove rather futile. However, It is known that you bear interest in nothingness since you have made it this far along. You may read this again for further introspection.
        </p>
        <a href="#">
            <p class="webUrl">
                www.nosceteipsum.co.za
            </p>
        </a>
    </div>
</div>