<div id="dashboardContainer" class="defaultBackground modal">
    <div class="dashboardTileContainer" style="text-align: left;">
        <span class="closeModal">Close</span>
        <h5 style="margin: 0;" class="pinkText">Exam preparation</h5>
        <br>
        <div class="dashboardTileContainer">
            <a href="#">
                <div class="inlineTile pinkBackground">
                    <h5>Study Material</h5>
                    <p>Exemplars, previous papers</p>
                </div>
            </a>
            <a href="#">
                <div class="inlineTile pinkBackground">
                    <h5>Exams Timetable</h5>
                    <p>View / download timetable</p>
                </div>
            </a>
            <a href="#">
                <div class="inlineTile pinkBackground" style="padding: 15px 0;">
                    <h5 style="padding: 0px;margin: 0px">Road to Finals</h5>
                    <div id="countdownContainer">
                        <div class="countdownTime">
                            <span id="countdownDay">000</span><br>
                            <span class="countdownTimeLabel">Days</span>
                        </div>
                        <div class="countdownTime">
                            <span id="countdownHr">00</span><br>
                            <span class="countdownTimeLabel">Hrs</span>
                        </div>
                        <div class="countdownTime">
                            <span id="countdownMin">00</span><br>
                            <span class="countdownTimeLabel">Mins</span>
                        </div>
                        <div class="countdownTime">
                            <span id="countdownSec">00</span><br>
                            <span class="countdownTimeLabel">Secs</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="dashboardTileContainer" style="text-align: left;">
        <h5 style="margin: 0;" class="paleGreenText">Prepare your future</h5>
        <br>
        <div class="dashboardTileContainer">
            <a href="#">
                <div class="inlineTile paleGreenBackground">
                    <h5>Tertiary Choices</h5>
                    <p>2 choices selected</p>
                </div>
            </a>
            <a href="#">
                <div class="inlineTile paleGreenBackground">
                    <h5>Browse Opportunities</h5>
                    <p>Terciary institues, gap years, jobs</p>
                </div>
            </a>
            <a href="#">
                <div class="inlineTile paleGreenBackground">
                    <h5>Application Form</h5>
                    <p>Customise your CV</p>
                </div>
            </a>
        </div>
    </div>
</div>
