<style>
    .info {
        padding:2px 8px;
    }
    .aboutSection {
       padding-bottom:100px;
       background-color:rgba(210,210,210,0.9);
       width:100%;
       min-height:100px;
       position:absolute;
       top:80%;
       left:0;
   }
    .graphicIconContainer {
        display:inline-block;
        width:20%;
        padding:5px 1%;
        text-align:center;  
    }
    .graphicIcon {
        background-repeat:no-repeat;
        background-position:center;
        background-size:auto;
        display:inline-block;
        width:100px;height:100px;
        border-radius:50px;
    }
    .caption {
        font-size:14px;
    }
    .iconsContainer {
        width:100%;
        text-align:center;
    }
    .aboutGrad {
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:470px;
    }
</style>
<div class="aboutSection">
    <div style="text-align:center">
    <div class="divHeading">Welcome to Inception</div>
    <hr>
    <div class="info">
        <p>Inception helps students come together and share ideas. </p>
        <p>
            We invite you to connect with like minded people and enjoy a central point for all your career aspirations from inception to graduation.
        </p>
    </div>
    </div>
    <div class="divHeading">Mission</div>
    <hr>

    <div class="iconsContainer">
        <div class="graphicIconContainer">
            <div class="graphicIcon highSchoolIcon purpleBackground"></div>
            <div class="caption">High School</div>
        </div>
        <div class="graphicIconContainer">
            <div class="graphicIcon tertiaryIcon blueBackground"></div>
            <div class="caption">University</div>
        </div>
        <div class="graphicIconContainer">
            <div class="graphicIcon gradIcon greenBackground"></div>
            <div class="caption">Graduation</div>
        </div>
        <div class="graphicIconContainer">
            <div class="graphicIcon workIcon paleGreenBackground"></div>
            <div class="caption">Work</div>
        </div>
    </div>

    <div class="info">

        <p>
            Inception’s mission is to bridge the gap from high school to university and most importantly, from university into the workplace. We have provided a platform for learners, graduates and recruiters to connect exchanging ideas and expertise.
        </p>
        <p>
            Our aim is to address South Africa’s skills shortage by guiding learners from an early stage in their studies in the right direction
        </p>
    </div>

    <div class="divHeading">What's in it for you?</div>
    <hr>
    <div class="aboutGrad aboutGradImage"></div>
    <div class="info">
        <p>
            Your convenience is our main priority. With your employment and educational needs constantly being worked on, Inception's proven ease of use gives you the opportunity to:
        </p>
        <p><b>Students</b></p>
        <p>Build your profile and download your CV</p>
        <p>Share your portfolio</p>
        <p>Apply for jobs and tertiary online</p>
        <p>Browse tertiary institutes</p>      
        <p>Follow career/gap year articles, authors and possible connections</p>
        <p>Get career guidance, pick CV Templates and Cover letter designs</p>
        <p>Read varsity and graduate news</p>
        <br>
        <p><b>Recruiters and Companies</b></p>
        <p>Scout students and build relationships from high school level.</p>
        <p>Post and promote jobs</p>
        <p>View/Download candidate's full resume</p>
    </div>

    <div class="divHeading">Our Service Offering</div>
    <hr>
    <div class="info">
        <p>
            Linking market demand for skills to high school subject selection, along with a wide variety of graduates for organisations to choose from the South African tertiary institutions.
        </p>
        <p>
            Assisting graduates and students in finding permanent/part time employment at a central point, along with useful articles relating to their field of study for research purposes etc.
        </p>
        <p>
            Providing a nation wide solution to university sourcing, application and registration by reducing the entire process to just a click of a button with all the information on Inception
        </p>
    </div>
</div>
